[Desktop Entry]
Name=Markov
Exec=/usr/lib/Markov/Markov %U
Icon=/usr/share/pixmaps/Markov.png
Terminal=false
Type=Application
Categories=Development;
